<div class="main-container">
  <h1 i18n="@@welcomeMsg">Nos Attractions</h1> <div class="attraction-grid">
    <mat-card *ngFor="let attraction of (attractions | async)" class="attraction-card">
      <mat-card-header>
        <mat-card-title>{{ attraction.nom }}</mat-card-title>
        <mat-card-subtitle i18n="@@diffLevel">Difficulté : {{ attraction.difficulte }}/5</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <p>{{ attraction.description }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="laisserCritique(attraction)" i18n="@@btnCritique">
          Laisser un avis
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>